<a href="https://colab.research.google.com/github/XGHouFTW/ISEF-2022/blob/main/Merging_Dates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import datetime
from google.colab import drive
drive.mount('/content/drive')
basepath = "/content/drive/MyDrive/ISEF/Datasets/Historical Prices/BTC-USD.csv"
dfbase = pd.read_csv(basepath)
dfbase = dfbase.drop("Adj Close", 1)
dfbase = dfbase.iloc[0:548,:] #Training set from Jan 31 2020 to July 31 2021

scorelist = {
    "":"",
    "":""
} #dictionary of scorecolumnname and path

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  import sys

In [2]:
transMonth = {"Jan":"01","Feb":"02","Mar":"03","Apr":"04","May":"05","Jun":"06","Jul":"07","Aug":"08","Sep":"09","Oct":"10","Nov":"11","Dec":"12"}

a = "2020-01-31	" #from historical prices
def trans(strdate):
    return datetime.datetime(int(strdate[0:4]), int(strdate[5:7]), int(strdate[8:10]))

In [3]:
for i in range(len(dfbase)):
  dfbase.loc[i,"Date"] = trans(dfbase.loc[i,"Date"])

<class 'datetime.datetime'>

                    Date          Open  ...         Close       Volume
0    2020-01-31 00:00:00   9508.313477  ...   9350.529297  29432489719
1    2020-02-01 00:00:00   9346.357422  ...   9392.875000  25922656496
2    2020-02-02 00:00:00   9389.820313  ...   9344.365234  30835736946
3    2020-02-03 00:00:00   9344.683594  ...   9293.521484  30934096509
4    2020-02-04 00:00:00   9292.841797  ...   9180.962891  29893183716
..                   ...           ...  ...           ...          ...
543  2021-07-27 00:00:00  37276.035156  ...  39406.941406  35097370560
544  2021-07-28 00:00:00  39503.187500  ...  39995.906250  38702404695
545  2021-07-29 00:00:00  39995.453125  ...  40008.421875  27167146027
546  2021-07-30 00:00:00  40027.484375  ...  42235.546875  33072782960
547  2021-07-31 00:00:00  42196.304688  ...  41626.195313  25802845343

[548 rows x 6 columns]

In [ ]:
for scoreset in scorelist:
  dfAdd = pd.read_csv(scorelist[scoreset])

In [ ]:
dfAdd = pd.read_csv(AddData)

string columnname = ""
dfessential[columnname] = ""
i = 0
while i < len(dfAdd):
  c = trans(dfAdd.loc[i,"date"])
  streak = 0
  sum = dfAdd.loc[i,"Com"]
  while (i < len(dfAdd)-1 and c == trans(dfAdd.loc[i+1,"date"])):
    i = i+1 
    streak = streak + 1
    sum = sum + dfAdd.loc[i,"Com"]
    
  dfessential.loc[(c-start).days, columnname] = sum/streak
  sum = 0
      
  i = i+1
  print(i)

3416
10000

In [ ]:
dfessential.to_csv("GraphEssentials.csv")

In [ ]:
dfessential

           Date  BTC Daily Price  ...  ETH Tweets Compound BTC Tweets Compound
0    2014-09-17       461.599014  ...
1    2014-09-18       440.649993  ...
2    2014-09-19       409.449494  ...
3    2014-09-20       401.788498  ...
4    2014-09-21       403.453003  ...
...         ...              ...  ...                  ...                 ...
2688 2022-01-26     36901.318360  ...
2689 2022-01-27     36990.056640  ...
2690 2022-01-28     37456.388672  ...
2691 2022-01-29     37959.447266  ...
2692 2022-01-30              NaN  ...

[2693 rows x 9 columns]