<a href="https://colab.research.google.com/github/XGHouFTW/ISEF-2022/blob/main/Sentiment_and_Price_against_Time.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import datetime
from google.colab import drive
drive.mount('/content/drive')
ETHpricepath = "/content/drive/MyDrive/ISEF/Datasets/ETH-USD.csv"
DOGEpricepath = "/content/drive/MyDrive/ISEF/Datasets/DOGE-USD.csv"
BTCpricepath = "/content/drive/MyDrive/ISEF/Datasets/BTC-USD.csv"
ETHscorepath = "/content/drive/MyDrive/ISEF/Datasets/Ethereum_scores.csv"
BTCscorepath = "/content/drive/MyDrive/ISEF/Datasets/Bitcoin_scores.csv"

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
trans = {"Jan":"01","Feb":"02","Mar":"03","Apr":"04","May":"05","Jun":"06","Jul":"07","Aug":"08","Sep":"09","Oct":"10","Nov":"11","Dec":"12"}

a = "2021-11-15 07:26:39+00:00" #from scores
def trans(strdate):
    return datetime.datetime(int(strdate[0:4]), int(strdate[5:7]), int(strdate[8:10]))

def validate(strdate):
  return len(strdate) >= 10 and strdate[0:4].isnumeric() and strdate[5:7].isnumeric() and strdate[8:10].isnumeric()
    

dfessential = pd.DataFrame() #for every date, have price average, difference, average sentiment for twitter
dfdates = pd.read_csv(BTCpricepath)
textcolumn = dfdates.loc[:,"Date"]
dateslist = []
for string in textcolumn:
  dateslist.append(trans(string))

dfessential["Date"] = dateslist

In [3]:
dfBTC = pd.read_csv(BTCpricepath)
pricelist = []
derivprice = []
start = trans(dfBTC.loc[0,"Date"])

for i in range(len(dfBTC)) :
  a = dfBTC.loc[i, "Open"]
  b = dfBTC.loc[i, "Close"]
  pricelist.append((a+b)/2)
  derivprice.append((b-a)*100/a)
dfessential["BTC Daily Price"] = pricelist
dfessential["BTC Daily Percent Change"] = derivprice

In [4]:
dfETH = pd.read_csv(ETHpricepath)
pricelist = []
derivprice = []
startETH = trans(dfETH.loc[0,"Date"])

for i in range((startETH-start).days):
  pricelist.append("")
  derivprice.append("")

for i in range(len(dfETH)) :
  a = dfETH.loc[i, "Open"]
  b = dfETH.loc[i, "Close"]
  pricelist.append((a+b)/2)
  derivprice.append((b-a)*100/a)
dfessential["ETH Daily Price"] = pricelist
dfessential["ETH Daily Percent Change"] = derivprice

In [5]:
dfDOGE = pd.read_csv(DOGEpricepath)
pricelist = []
derivprice = []
startDOGE = trans(dfDOGE.loc[0,"Date"])

for i in range((startDOGE-start).days):
  pricelist.append("")
  derivprice.append("")

for i in range(len(dfDOGE)) :
  a = dfDOGE.loc[i, "Open"]
  b = dfDOGE.loc[i, "Close"]
  pricelist.append((a+b)/2)
  derivprice.append((b-a)*100/a)
dfessential["DOGE Daily Price"] = pricelist
dfessential["DOGE Daily Percent Change"] = derivprice

In [6]:
dfETHtweets = pd.read_csv(ETHscorepath)
dfessential["ETH Tweets Compound"] = ""
i = 0
while i < len(dfETHtweets):
  c = dfETHtweets.loc[i,"date"]
  if (validate(c)):
    c = trans(c)
    streak = 0
    sum = dfETHtweets.loc[i,"Com"]
    while (i < len(dfETHtweets)-1 and validate(dfETHtweets.loc[i+1,"date"]) and c == trans(dfETHtweets.loc[i+1,"date"])):
      i = i+1
      streak = streak + 1
      sum = sum + dfETHtweets.loc[i,"Com"]
    
    if dfessential.loc[(c-start).days, "ETH Tweets Compound"] == "":
      dfessential.loc[(c-start).days, "ETH Tweets Compound"] = sum/streak
    else:
      a = dfessential.loc[(c-start).days, "ETH Tweets Compound"]
      dfessential.loc[(c-start).days, "ETH Tweets Compound"] = a + sum/streak
    sum = 0
    
  i = i+1
  print(i)

3416
10000

In [7]:
dfBTCtweets = pd.read_csv(BTCscorepath)
dfessential["BTC Tweets Compound"] = ""
i = 0
while i < len(dfBTCtweets):
  c = dfBTCtweets.loc[i,"date"]
  if (validate(c)):
    c = trans(c)
    streak = 0
    sum = dfBTCtweets.loc[i,"Com"]
    while (i < len(dfBTCtweets)-1 and validate(dfBTCtweets.loc[i+1,"date"]) and c == trans(dfBTCtweets.loc[i+1,"date"])):
      i = i+1
      streak = streak + 1
      sum = sum + dfBTCtweets.loc[i,"Com"]
    
    if dfessential.loc[(c-start).days, "BTC Tweets Compound"] == "":
      dfessential.loc[(c-start).days, "BTC Tweets Compound"] = sum/streak
    else:
      a = dfessential.loc[(c-start).days, "BTC Tweets Compound"]
      dfessential.loc[(c-start).days, "BTC Tweets Compound"] = a + sum/streak
    sum = 0
    
  i = i+1
  print(i)

3526
7876
13523
16553
19831
21525
26176
30185
32470
36991
39245
42809
44443
48366
48583
50509
52548
56559
60034
63774
64943
64944
67814
71544
73741
77693
83558
88660
93096
97484
101603
106311
106644
111153
116342
120725
125623
128426
137068
137069
157785
180575
180576
203626
245355
254223
280204
303291
328721
346510
347987
349371
350621
351923
353315
354889
356072
357117
357516
357631
357711
357745
357769
357796
357817
357833
357839
357841
357847
357849
357851
367349
367839
368220
368407
368579
368683
368769
368818
392127
417077
445919
483113
512521
539862
564396
578310
587132
594337
621192
621555
633092
651763
667254
681202
693194
693195
697397
697398
708695
720304
757252
782312
798865
807639
820825
836820
849637
851410
862338
889917
915195
941942
965739
988592
1009953
1021342
1033054
1042048
1053528
1065049
1067665
1067666
1074657
1083387
1085675
1113357
1142111
1169016
1179519
1191003
1209292
1232802
1279597
1302680
1318914
1344778
1347699
1347700
1384270
1393938
1393939
1404900
1418449
1433733
1455510
1488904
1489465
1513850
1513851
1523745
1561156
1583075
1584601
1611481
1611482
1615754
1649522
1675451
1690098
1691920
1729920
1749769
1751627
1790513
1811149
1811150
1811281
1826418
1842627
1883049
1918310
1924693
1941843
1944233
1950237
1970676
1995764
1999534
2029575
2067052
2109282
2120895
2126411
2198220
2200176
2200177
2233902
2255976
2259650

In [8]:
dfessential.to_csv("GraphEssentials.csv")

In [9]:
dfessential

           Date  BTC Daily Price  ...  ETH Tweets Compound BTC Tweets Compound
0    2014-09-17       461.599014  ...
1    2014-09-18       440.649993  ...
2    2014-09-19       409.449494  ...
3    2014-09-20       401.788498  ...
4    2014-09-21       403.453003  ...
...         ...              ...  ...                  ...                 ...
2688 2022-01-26     36901.318360  ...
2689 2022-01-27     36990.056640  ...
2690 2022-01-28     37456.388672  ...
2691 2022-01-29     37959.447266  ...
2692 2022-01-30              NaN  ...

[2693 rows x 9 columns]